@page
@model TodoApp.Pages.MyTodosModel
@{
    Layout = "";
}

<!-- vi vill visa en lista med ToDos! -->
<!--
    - Köpa mjölk
    - Vattna blommorna ✓
    - Gå ut med hunden ✓
    - Skriva inlämningsrapporten
-->

<ul>
    @foreach(var todo in Model.Todos)
    {
        <li>@todo.Action @(todo.IsDone ? "✓" : "")</li>
    }
</ul>

<h3>Skriv en ny todo</h3>
<form method="post">
    <ul >
        <li>
            <label for="Action">Vad du vill göra</label>
            <input type="text" name="Action" id="Action" />
        </li>
        <li>
            <label for="IsDone">Är du klar redan?</label>
            <input type="checkbox" name="IsDone" id="IsDone" />
        </li>
    </ul>

    <input type="submit" />
</form>



<style>
    .hlist {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .hlist li {
        list-style-type: none;
        padding: 5px;
    }
</style>
