@page
@model TodoApp.Pages.MyTodosModel
@{
    Layout = "";
}

<!-- vi vill visa en lista med ToDos! -->
<!--
    - Köpa mjölk
    - Vattna blommorna ✓
    - Gå ut med hunden ✓
    - Skriva inlämningsrapporten
-->

<ul>
    @for (int i = 0; i < 4; i++)
    {
        Models.Todo todo = Model.Todos[i];
        <li>@todo.Action @(todo.IsDone ? "✓" : "")</li>
    }
</ul>

<style>
    .hlist {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .hlist li {
        list-style-type: none;
        padding: 5px;
    }
</style>
