@page
@model TodoApp.Pages.MyTodosModel
@{
    Layout = "";
}

<!--
    Model Binding
    Tag Helpers
    (Routing)
-->

<ul>
    @foreach(var todo in Model.Todos)
    {
        <li>@todo.Action @(todo.IsDone ? "✓" : "")</li>
    }
</ul>


<h3>Skriv en ny todo</h3>
<form method="post">
    <ul >
        <li>
            <label for="Action">Vad du vill göra</label>
            <input asp-for="NewTodo.Action" />
        </li>
        <li>
            <label for="IsDone">Är du klar redan?</label>
            <input asp-for="NewTodo.IsDone" />
        </li>
    </ul>

    <input type="submit" />
</form>



<style>
    .hlist {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .hlist li {
        list-style-type: none;
        padding: 5px;
    }
</style>
